body {
    height: 125vh;
    background-color: whitesmoke;
    background-size: cover;
    font-family: sans-serif;
    margin-top: 100px;
}

main {
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    padding-top: 60px;
}

.active {
    color: #EE682A
}

#nav-logo {
    height: 100px;
    width: 100px;
    padding-left: 30px;
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    background-color: white;
    box-shadow: 0 0 3px 0 rgb(95, 95, 95);
}

#navbar {
    width: 80%;
}

header * {
    display: inline;
}

header li a{
    margin: 16px;
    color: black;
    text-decoration: none;
}

header li {
    height: 100px;
  }

header li :hover {
    color: #EE682A;
  }

#welcome-text {
    text-align: right;
    padding-right: 30px;
}
