#register-form {
    display: flex;
    width: 460px;
    padding: 16px;
    justify-content: center;
    border: 1px solid black;
    border-radius: 32px;
}

.register-field input{
    width: 320px;
    height: 40px;
    color: black;
    font-size: medium;
    margin-top: 8px;
}

input.placeholder {
    text-align: center;
}

.register-field select{
    width: 320px;
    height: 40px;
    color: black;
    font-size: medium;
    margin-top: 8px;
}