{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        {% block extracss %}
        <script type="text/javascript" src="{% static 'utils/events.js' %}"></script>
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <button id="standard-button" onclick="generateJson()">Basic Event</button>
            <button id="standard-button" onclick="">Add on...</button>
            <button id="standard-button" onclick="">Add on...</button>
        {% endblock  %}

    </body>

</html>