{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>
<html>

    <head>
        {% block extracss %}
            <link rel="stylesheet" href="{% static 'pages/register_form.css' %}" type="text/css">
        {% endblock %}
    </head>

    <body>
        {% block content %}
            <div id="register-form">
                <form method='post'> 
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="register-field">
                            {{field}}
                        </div>
                    {% endfor %}
                    <p>{{ form.password.errors.as_text }}</p>
                    <button id="register-button" type='submit' value='Save'>Register</button>
                    <button id="already-registered" action="{% url 'home' %}">Already registered?</button>
                </form>
            </div>
        {% endblock  %}}

    </body>

</html>

